*{
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  color: #000;
}

html{
  scroll-behavior: smooth;
}

body{

}

/* navegation */

header{
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.list-title{
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

ul{
  font-size: 14px;
  list-style: none;
  display: flex;
}

li{
  padding-inline: 16px;
}

a{
  text-decoration: none;
}

/* content */

main{
  font-size: 18px;
  background-color: #f9f9f9;
  min-height: 92vh;
}

#home, #contact{
  height: 92vh;
}

#about-me, #experience, #projects{
  height: 100vh;
}

section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div{
  width: 300px;
  height: auto;
}

h1{
  font-size: 38px;
}

h2{
  font-size: 24px;
}

main p{
  opacity: 70%;
}

h1, h2, main p, input, textarea, button{
  margin-bottom: 3%;
}

input, textarea{
  background-color: #fff;
  border: none;
  padding-block: 2%;
  padding-inline: 4%;
  text-align: top;
  border-radius: 1em;
  width: 100%;
}

textarea{
  max-height: 120px;
  resize: none;
}

button{
  background-color: #000;
  border: none;
  padding: 2%;
  border-radius: 2em;
  min-width: 100px;
  min-height: 35px;
  color: #fff;
}

button a{
  color: #fff;
}

img{
  width: 100%;
  height: auto;
}

/* footer */

footer{
  font-size: 14px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}
