*{
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/* content */

main{
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

section{
  width: 35%;
  height: 90%;
}

fieldset{
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 5%;
  box-shadow: 0 4px 8px 0 #d3d3d3;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 14px;
  font-weight: normal;
}

p{
  font-size: 14px;
  text-align: center;
  opacity: 70%;
}

a{
  text-decoration: none;
}

input{
  border: 1px solid #000;
  width: 92%;
}

form button{
  background: #7d00ab;
  border: none;
  font-weight: bold;
  border-radius: 2em;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

div button{
  background: transparent;
  border: 1px solid #000;
  font-weight: bold;
  border-radius: 2em;
  width: 100%;
  cursor: pointer;
}

fieldset, h1, h2, input, main p, button{
  margin-bottom: 2%;
}

input, button{
  padding: 3%;
}

/* footer */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

ul{
  list-style: none;
  display: flex;
}

li{
  padding: 16px;
}

li a{
  color: #000;
}
